/* CSS Document */

@font-face {
  font-family: 'AT Osmose';
  src: local('AT Osmose Ultra Light'), local('AT-Osmose-Ultra-Light'),
      url('ATOsmose-UltraLight.woff2') format('woff2'),
      url('ATOsmose-UltraLight.woff') format('woff'),
      url('ATOsmose-UltraLight.ttf') format('truetype');

      font-family: 'EditorialNew-Ultralight';
      src: local('EditorialNew-Ultralight'), local('EditorialNew-Ultralight'),
          url('EditorialNew-Ultralight.otf') format('opentype');

          

  font-weight: 200;
  font-style: normal;
}
body {
  background-color:#cccbc4;
}

.logo-main{
  display: block;
  padding: 1rem;
  
}
header {
	background-color: #cccbc4;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
	
/*styling voor de navigatie, door position fixed zal de gehele balk op het bovenste gedeelte van de website te zien zijn, ook bij scrollen*/;
}

.about-us-pictures{
  max-width: 100%;

}

nav {
	display: flex;
	justify-content: space-between;
}

nav img:first-of-type {
	order: -1;
	width: 3em;
	z-index: 1;
}

nav img:last-of-type {
	max-width: 100%;
	z-index: 1;
}

nav ul {
	background-color: #cccbc4;
	position: fixed;
	transform: translateX(100%);
	transition: 1s;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	padding: 3em;
	list-style-type: none;
	font-size: 1.5625em;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	z-index: 0;
  font-family: Helvetica, Arial, Sans-Serif;
}

nav a {
	color: #000;
	text-decoration: none;
}

.uitklappen {
	transform: translateX(0);
}

#menu{
  background:none;
  border:none;

}

main p {
  max-width:40rem;
  margin:0 auto;
  /* line-height:1.75; */
} 

h1{
  font-family: 'AT Osmose';
  text-align: center;
  /*line-height: 40px; */
  margin-top: 4em;
  margin-bottom: -40px;
}

#about-us{
  font-family: 'AT Osmose';
  text-align: center; 
}

h2{
  font-family: 'AT Osmose';
  font-size: 1.2em; 
  color:#535353;
  margin-top: 0.7rem;
  margin-left: 1.25rem;
  padding-bottom: 1.25rem;
}

p{
  font-family: 'EditorialNew-Ultralight';
  line-height: 1.875rem;
  font-size: 100%;
  text-align: center;
  padding: 3.125rem 3rem 0.625rem 3rem;
  color: grey;

}
.text_align_left{
  text-align: left;

}
.readmore{
  text-align: center;
  display: block; 
  text-decoration: none; 
  font-family: Helvetica, Arial, Sans-Serif;
  color:#cccbc4;
  font-size: 0.7em;  
}
.title_pictures_left{
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 0.6em; 
  text-align: left;
  color: grey;
  margin-top: -2.5rem;
  padding-left: 1rem;
  
}

.date_right{
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 0.6em; 
  text-align: right;
  margin-top: -6.313rem;
}

/* .first_picture{
  width: 29.25rem;
  height: 33.564rem;
  padding-left: 1.875rem;
} */

.homepage_picture{
  width: 29.25rem;
  max-width: 100%;
}


article{
  background-color: #fff;
  flex-direction: column;
  max-width: 100%;
}

.partners{
  width: 100%;
  height: 100%;

}

footer{
  background-color: #cccbc4;

}


.grid {
	display: flex;
	flex-direction: column;
	grid-column-gap: 1em;
}

@media (min-width: 750px) {
	.grid {
		flex-direction: row;
	}

	.opening {
		flex-direction: row;
	}

	.gsthuis {
		flex-direction: row;
    
  /*styling mediaquery*/;
	}

  h1{
    font-size: 5vw;
    
  }
  p{
    font-size: 2.2vw;
  }

  article{
    
    width: 100%;
  }
}




